<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>       
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <table>
            <td>
                <h3>Eleve</h3>
                <table style="border:1px solid black;">
                    <th>{{eleve.nom}} {{eleve.prenom}}</th>
                    <tr><td>ID : </td><td>{{eleve.id}} </td></tr>
                    <tr><td>Rue : </td><td>{{eleve.numrue}} {{eleve.rue}}</td></tr>
                    <tr><td>Code Postal : </td><td>{{eleve.copos}}</td></tr>
                    <tr><td>Ville : </td><td>{{eleve.ville}}</td></tr>
                    <tr><td>Téléphone : </td><td>{{eleve.tel}}</td></tr>
                    <tr><td>E-Mail : </td><td>{{eleve.mail}}</td></tr>
                </table>
            </td>
            <td>
                <h3>Responsable</h3>
                <table style="border:1px solid black;">
                    <th>{{responsable.nom}} {{responsable.prenom}}</th>
                    <tr><td>ID : </td><td>{{responsable.id}} </td></tr>
                    <tr><td>Rue : </td><td>{{responsable.numrue}} {{responsable.rue}}</td></tr>
                    <tr><td>Code Postal : </td><td>{{responsable.copos}}</td></tr>
                    <tr><td>Ville : </td><td>{{responsable.ville}}</td></tr>
                    <tr><td>Téléphone : </td><td>{{responsable.tel}}</td></tr>
                    <tr><td>E-Mail : </td><td>{{responsable.mail}}</td></tr>
                </table>
            </td>
        </table>
        <table>
            <td>
                <table style="border:1px solid black;">
                    <h3>Cours de l'Élève</h3>
                    <tr>
                        <th>Libele</th>
                        <th>Date Inscription</th>
                        <th>Age Minimum</th>
                        <th>Heure Debut</th>
                        <th>Heure Fin</th>
                        <th>Jour</th>
                    </tr>
                    {% for cours in cours %}
                        <tr>
                            <td>{{cours.id }}</td>
                            <td>{{cours.libelle}}</td>
                            <td>{{cours.ageMini }}</td>
                            <td>{{cours.heureDebut | date('H:i')}}</td>
                            <td>{{cours.heureFin | date('H:i')}}</td>
                            <td>{{cours.jour.libelle }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">Aucun cours inscrit.</td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
        </table>
    </body>
</html>