{% extends 'base.html.twig' %}
{% block title %}Liste des métiers{% endblock %}
{% block body %}
			<h1>Liste des métiers</h1>
			<a class="bouton-ajouter" href="{{ path('app_metier_ajouter') }}">Ajouter un métier</a>
			<table>
				<thead>
					<tr>
						<th>Métier</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for p in pMetiers %}
						<tr>
							<td>{{ p.libelle }}</td>
							<td>
								<a class="bouton-consulter" href="{{ path('app_metier_consulter', { id: p.id }) }}">Consulter</a>
								<a class="bouton-modifier" href="{{ path('app_metier_modifier', { id: p.id }) }}">Modifier</a>
								<a class="bouton-supprimer" href="{{ path('app_metier_supprimer', { id: p.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce professionnel ?')">Supprimer</a>
							</td>
						</tr>
					{% else %}
						<tr>
					        <td colspan="3" style="text-align:center;">Aucun métiers n'a été trouvé.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
{% endblock %}