{% extends 'base.html.twig' %}
{% block title %}Consultation d'un instrument{% endblock %}
{% block body %}     
        <h1>Consultation d'un instrument</h1>
        <table>
            <tr>
                <td><strong>ID :</strong></td>
                <td>{{ instrument.id }}</td>
                <td rowspan="10">
                    {% set photo = 'instrument/' ~ instrument.id ~ '.jpg' %}
                    <span class="zoom">
                        <img src="{{ asset(photo) }}" alt="Photo de {{ instrument.numSerie }}" title="{{ instrument.numSerie }}" width="200" height="200"/>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Numéro de Série :</td>
                <td>{{ instrument.numSerie }}</td>
            </tr>
            <tr>
                <td>Date d'Achat :</td>
                <td>
                    {% if instrument.dateAchat is not null %}
                        {{ instrument.dateAchat|date("d/m/Y") }}
                    {% else %}
                        <span class="no-data">Non spécifiée</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Prix d'achat : </td><td>{{instrument.prixAchat}}</td>
            </tr>
            <tr>
                <td>Utilisation : </td><td>{{instrument.utilisation}}</td>
            </tr>
            <tr>
                <td>Couleur : </td><td>{{instrument.couleur}}</td>
            </tr>
            <tr>
                <td>Type d'Instrument :</td>
                <td>
                    {% if instrument.typeinstrument is not null %}
                        {{ instrument.typeinstrument.libelle }}
                    {% else %}
                        <span class="no-data">Non défini</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Marque :</td>
                <td>
                    {% if instrument.marque is not null %}
                        {{ instrument.marque.libelle }}
                    {% else %}
                        <span class="no-data">Non définie</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Modèle :</td>
                <td>
                    {% if instrument.modele is not null %}
                        {{ instrument.modele.libelle }}
                    {% else %}
                        <span class="no-data">Non défini</span>
                    {% endif %}
                </td>
            </tr>
        </table>
        <table class='table-consulter'>
            <tr>
                <td>Accessoires :</td>
            </tr>
            <tr>
                <td class="accessory-list">
                    {% if instrument.accessoires|length > 0 %}
                        {% for accessoire in instrument.accessoires %}
                            {{ accessoire.libelle }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        <span class="no-data">Aucun accessoire</span>
                    {% endif %}
                </td>
            </tr>
        </table>
{% endblock %}