{% extends 'base.html.twig' %}
{% block title %}Liste des instruments{% endblock %}
{% block body %}     
        <a class="bouton-arriere" href="{{ path('app_instrument_lister') }}">Retourner en arrière</a>
		<h5>PAGE DE CONSULTATION D'UN INSTRUMENT</h5>
        <p>
        <table >
            <tr>
                <td>Numéro de série : </td><td>{{instrument.numSerie}}</td>
                    <td  rowspan="8" >
                        {% set photo = 'instrument/'~ instrument.id ~'.jpg' %}
                        <span class="zoom"><img src="{{ asset(photo | trans )}}" title="{{ instrument.numSerie}}"/></span></td></tr> </td>
            <tr>
            <tr>
                <td>Date d'achat : </td>
                <td>
                    {% if instrument.dateAchat is not null %}
                        {{ instrument.dateAchat|date("d/m/Y") }}
                    {% else %}
                        Non spécifiée
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Prix d'achat : </td><td>{{instrument.prixAchat}}</td>
            </tr>
            <tr>
                <td>Utilisation : </td><td>{{instrument.utilisation}}</td>
            </tr>
            <tr>
                <td>Couleur : </td><td>{{instrument.couleur}}</td>
            </tr>
        </table>
{% endblock %}