{% extends 'base.html.twig' %}
{% block title %}Liste des instruments{% endblock %}
{% block body %}     
    <a class="bouton-arriere" href="{{ path('app_instrument_lister') }}">Retourner en arrière</a>
		<h5>PAGE DE CONSULTATION D'UN INSTRUMENT</h5>
        <p>
        <table >
            <tr>
                <td>Numéro de série : </td><td>{{instrument.numSerie}}</td>
                    <td  rowspan="8" >
                        {% set photo = 'instrument/'~ instrument.id ~'.jpg' %}
                        <span class="zoom"><img src="{{ asset(photo | trans )}}" title="{{ instrument.numSerie}}"/></span></td></tr> </td>
            <tr>
            <tr>
            <td>Date d'achat : </td>
    </div>

    <!-- Contenu principal à droite -->
    <div class="content">
        <h1>PAGE DE CONSULTATION D'UN INSTRUMENT</h1>

        <table>
            <tr>
                <td><strong>ID :</strong></td>
                <td>{{ instrument.id }}</td>
                <td rowspan="10">
                    {% set photo = 'instrument/' ~ instrument.id ~ '.jpg' %}
                    <span class="zoom">
                        <img src="{{ asset(photo) }}" alt="Photo de {{ instrument.numSerie }}" title="{{ instrument.numSerie }}" width="200" height="200"/>
                    </span>
                </td>
            </tr>
            <tr>
                <td><strong>Numéro de Série :</strong></td>
                <td>{{ instrument.numSerie }}</td>
            </tr>
            <tr>
                <td><strong>Date d'Achat :</strong></td>
                <td>
                    {% if instrument.dateAchat is not null %}
                        {{ instrument.dateAchat|date("d/m/Y") }}
                    {% else %}
                        <span class="no-data">Non spécifiée</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Prix d'achat : </td><td>{{instrument.prixAchat}}</td>
            </tr>
            <tr>
                <td>Utilisation : </td><td>{{instrument.utilisation}}</td>
            </tr>
            <tr>
                <td>Couleur : </td><td>{{instrument.couleur}}</td>
            </tr>
            <tr>
                <td><strong>Type d'Instrument :</strong></td>
                <td>
                    {% if instrument.typeinstrument is not null %}
                        {{ instrument.typeinstrument.libelle }}
                    {% else %}
                        <span class="no-data">Non défini</span>
                    {% endif %}
                </td>
            </tr>
        </table><td><strong>Marque :</strong></td>
                <td>
                    {% if instrument.marque is not null %}
                        {{ instrument.marque.libelle }}
                    {% else %}
                        <span class="no-data">Non définie</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Modèle :</strong></td>
                <td>
                    {% if instrument.modele is not null %}
                        {{ instrument.modele.libelle }}
                    {% else %}
                        <span class="no-data">Non défini</span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Accessoires :</strong></td>
                <td class="accessory-list">
                    {% if instrument.accessoires|length > 0 %}
                        {% for accessoire in instrument.accessoires %}
                            {{ accessoire.libelle }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        <span class="no-data">Aucun accessoire</span>
                    {% endif %}
                </td>
            </tr>
        </table>
{% endblock %}