<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %} 
    </head>
    <body>       
		<h5>PAGE DE CONSULTATION D'UN Instrument</h5>
        <p>
        <table >
            <tr>
                <td>ID : </td><td>{{instrument.id}}</td>
            </tr>
            <tr>
                <td>numSerie : </td><td>{{instrument.numSerie}}</td>
                    <td  rowspan="8" >
                        {% set photo = 'instrument/'~ instrument.id ~'.jpg' %}
                        <span class="zoom"><img src="{{ asset(photo | trans )}}" title="{{ instrument.numSerie}}"/></span></td></tr> </td>
            <tr>
            <tr>
                <td>dateAchat : </td>
                <td>
                    {% if instrument.dateAchat is not null %}
                        {{ instrument.dateAchat|date("d/m/Y") }}
                    {% else %}
                        Non spécifiée
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>prixAchat : </td><td>{{instrument.prixAchat}}</td>
            </tr>
            <tr>
                <td>utilisation : </td><td>{{instrument.utilisation}}</td>
            </tr>
            <tr>
                <td>couleur : </td><td>{{instrument.couleur}}</td>
            </tr>
        </table>
    </body>
</html>