{% extends 'base.html.twig' %}
{% block title %}Consultation d'une intervention{% endblock %}
{% block body %}
        <a class="bouton-arriere" href="{{ path('app_intervention_lister') }}">Retourner en arrière</a>
		<h1>Consultation d'une intervention</h1>
        <table class="table-consulter">
            <tr>
                <td>Descriptif : </td><td>{{intervention.descriptif}}</td>
            </tr>
                <td>Prix : </td><td>{{intervention.prix}}</td>
            </tr>
            <tr>
                <td>Quotité : </td><td>{{intervention.quotite}}</td>
            </tr>
            <tr>
                <td>Date de début : </td><td>{{intervention.datedebut|date("d/m/Y")}}</td>
            </tr>
            <tr>
                <td>Date de fin : </td><td>{{intervention.datefin|date("d/m/Y")}}</td>
            </tr>
            <tr>
                <td>Professionnel : </td><td>{{intervention.professionnel.nom}}</td>
            </tr>
        </table>
{% endblock %}