{% extends 'base.html.twig' %}
{% block title %}Liste des contrats
{% endblock %}
{% block body %}
	<h1>Liste des contrats</h1>
    {% if is_granted('ROLE_GEST') %}
	{% endif %}
	<table>
		<thead>
			<tr>
				<th>Début du contrat</th>
				<th>Fin du contrat</th>
				<th>Numéro de série de l'instrument</th>
				<th>Nom de l'instrument</th>
				<th>Type d'instrument</th>
				<th>Nom de l'élève</th>
			</tr>
		</thead>
		<tbody>
			{% for cp in pContratsPrets %}
				<tr>
					<td>{{ cp.dateDebut|date("d/m/Y") }}</td>
					<td>{{ cp.dateFin|date("d/m/Y") }}</td>
					<td>{{ cp.instrument.numSerie}}</td>
					<td>{{ cp.instrument.utilisation}}</td>
					<td>{{ cp.instrument.typeInstrument.libelle}}</td>
					<td>{{ cp.eleve.nom }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9" style="text-align:center;">Aucun contrat de prêt n'a été trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
