<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}Liste des Professionnels{% endblock %}
    </title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <h1>Liste des Professionnels</h1>
    <a href="{{ path('app_professionnel_ajouter') }}">Ajouter un professionnel</a>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Numéro de Rue</th>
                <th>Rue</th>
                <th>Code Postal</th>
                <th>Ville</th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pProfessionnels %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.nom }}</td>
                    <td>{{ p.numRue }}</td>
                    <td>{{ p.rue }}</td>
                    <td>{{ p.copos }}</td>
                    <td>{{ p.ville }}</td>
                    <td>{{ p.tel }}</td>
                    <td>{{ p.mail }}</td>
                    <td>
                        <a href="{{ path('app_professionnel_consulter', { id: p.id }) }}">Consulter</a> |
                        <a href="{{ path('app_professionnel_modifier', { id: p.id }) }}">Modifier</a> |
                        <a href="{{ path('app_professionnel_supprimer', { id: p.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce professionnel ?')">Supprimer</a></td>
                </tr>
            {% else %}
                <tr>
                    <td>Aucun professionnel n'a été trouvé.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% block javascripts %}{% endblock %}
</body>
</html>
