{% extends 'base.html.twig' %}
{% block title %}Liste des professionnels{% endblock %}
{% block body %}
			<h1>Liste des professionnels</h1>
            {% if is_granted('ROLE_GEST') %}
			<a class="bouton-ajouter" href="{{ path('app_professionnel_ajouter') }}">Ajouter un professionnel</a>
	        {% endif %}
			<table>
				<thead>
					<tr>
						<th>Nom</th>
						<th>Ville</th>
						<th>Métier</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for p in pProfessionnels %}
						<tr>
							<td>{{ p.nom }}</td>
							<td>{{ p.ville }}</td>
							<td>
								{% for metier in p.metiers %}
									{{ metier.libelle }}{% if not loop.last %}, {% endif %}
								{% endfor %}
							</td>							
							<td>
								<a class="bouton-consulter" href="{{ path('app_professionnel_consulter', { id: p.id }) }}">Consulter</a>
    					        {% if is_granted('ROLE_GEST') %}
								<a class="bouton-modifier" href="{{ path('app_professionnel_modifier', { id: p.id }) }}">Modifier</a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
								<a class="bouton-supprimer" href="{{ path('app_professionnel_supprimer', { id: p.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce professionnel ?')">Supprimer</a>
							    {% endif %}
							</td>
						</tr>
					{% else %}
						<tr>
					        <td colspan="9" style="text-align:center;">Aucun contrat de prêt n'a été trouvé.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
{% endblock %}