{% extends 'base.html.twig' %}
{% block title %}Liste des responsables{% endblock %}
{% block body %}
	<h1>Liste des responsables</h1>
	<a class="bouton-ajouter" href="#">Ajouter un responsable</a>
	<table>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prenom</th>
				<th>Numéro de rue</th>
				<th>Rue</th>
				<th>Code postal</th>
				<th>Ville</th>
				<th>Numéro de téléphone</th>
				<th>Mail</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for r in pResponsables %}
				<tr>
					<td>{{ r.nom }}</td>
					<td>{{ r.prenom }}</td>
					<td>{{ r.numRue }}</td>
					<td>{{ r.rue }}</td>
					<td>{{ r.copos }}</td>
					<td>{{ r.ville }}</td>
					<td>{{ r.tel }}</td>
					<td>{{ r.mail }}</td>
                    <td>
                        <a class="bouton-consulter" href="{{ path('app_responsable_consulter', { id: r.id }) }}">Consulter</a>
                        <a class="bouton-modifier" href="{{ path('app_responsable_modifier', { id: r.id }) }}">Modifier</a>
                        <a class="bouton-supprimer" href="{{ path('app_responsable_supprimer', { id: r.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette intervention?')">Supprimer</a>
                    </td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10" style="text-align:center;">Aucun contrat de prêt n'a été trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
