{% extends 'base.html.twig' %}
{% block title %}Consultation d'un professeur{% endblock %}
{% block body %}
		<h1>Consultation d'un professeur</h1>
        <table>
            <tr>
                <td><strong>ID :</strong></td>
                <td>{{ professeur.id }}</td>
                <td rowspan="10">
                    {% set photo = 'professeur/' ~ professeur.id ~ '.jpg' %}
                    <span class="zoom">
                        <img src="{{ asset(photo) }}" alt="Photo de {{ professeur.nom }} {{ professeur.prenom }}" title="{{ professeur.nom }} {{ professeur.prenom }}" width="200" height="200"/>
                    </span>
                </td>
            </tr>
            <tr>
                <td><strong>Nom :</strong></td>
                <td>{{ professeur.nom }}</td>
            </tr>
            <tr>
                <td><strong>Prénom :</strong></td>
                <td>{{ professeur.prenom }}</td>
            </tr>
            <tr>
                <td><strong>Numéro de Rue :</strong></td>
                <td>{{ professeur.numRue }}</td>
            </tr>
            <tr>
                <td><strong>Rue :</strong></td>
                <td>{{ professeur.rue }}</td>
            </tr>
            <tr>
                <td><strong>Code Postal :</strong></td>
                <td>{{ professeur.copos }}</td>
            </tr>
            <tr>
                <td><strong>Ville :</strong></td>
                <td>{{ professeur.ville }}</td>
            </tr>
            <tr>
                <td><strong>Téléphone :</strong></td>
                <td>{{ professeur.tel }}</td>
            </tr>
            <tr>
                <td><strong>Email :</strong></td>
                <td>{{ professeur.mail }}</td>
            </tr>
            <tr>
                <td><strong>Types d'Instruments :</strong></td>
                <td>
                    {% if professeur.typeinstrument|length > 0 %}
                        <ul>
                            {% for typeInstrument in professeur.typeinstrument %}
                                <li>{{ typeInstrument.libelle }}</li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <span class="no-data">Aucun type d'instrument défini</span>
                    {% endif %}
                </td>
            </tr>
        </table>
{% endblock %}