{% extends 'base.html.twig' %}
{% block title %}Liste des professeurs{% endblock %}
{% block body %}
    <h1>Liste des professeurs</h1>
            {% if is_granted('ROLE_GEST') %}
			<a class="bouton-ajouter" href="{{ path('app_ajouter_professeur') }}">Ajouter un professeur</a>
	        {% endif %}
                <table>
                    <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Adresse</th>
                            <th>Téléphone</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for professeur in pProfesseur %}
                            <tr>
                                <td>{{ professeur.nom }}</td>
                                <td>{{ professeur.prenom }}</td>
                                <td>{{ professeur.numRue }} {{ professeur.rue }}, {{ professeur.copos }} {{ professeur.ville }}</td>
                                <td>{{ professeur.tel }}</td>
                                <td>{{ professeur.mail }}</td>
                                <td>
                                    <a class="bouton-consulter" href="{{ path('app_consulter_professeur', { id: professeur.id }) }}">Consulter</a>
    					        {% if is_granted('ROLE_GEST') %}
                                    <a class="bouton-modifier" href="{{ path('app_modifier_professeur', { id: professeur.id }) }}">Modifier</a>
                                {% endif %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="bouton-supprimer" href="{{ path('app_supprimer_professeur', { id: professeur.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce professeur?')">Supprimer</a>
                                {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">Aucun professeur trouvé.</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
{% endblock %}