{% extends 'base.html.twig' %}

{% block title %}Consultation d'Inscription{% endblock %}

{% block body %}
    <h5>PAGE DE CONSULTATION D'UNE INSCRIPTION</h5>
    <p>
    <table>
        <tr>
            <td>Date d'Inscription : </td>
            <td>{{ inscription.dateInscription | date('d/m/Y')}}</td>
        </tr>
        </table>
        <tr>

        <table style="border:1px solid black;">
        <h3>Cours</h3>
                <tr>
                    <th>Nom</th>
                    <th>Age Minimum</th>
                    <th>Heure Debut</th>
                    <th>Heure Fin</th>
                    <th>Jour</th>
                </tr>

        {% if inscription.cours is not null %}
                <td>{{ inscription.cours.libelle }}</td>
                <td>{{ inscription.cours.ageMini }}</td>
                <td>{{ inscription.cours.heureDebut | date('H:i') }}</td>
                <td>{{ inscription.cours.heureFin | date('H:i') }}</td>
                <td>{{ inscription.cours.jour.libelle }}</td>
        {% else %}
            <tr><td>Cours : </td><td>Aucun cours associé</td></tr>
        {% endif %}

        <table style="border:1px solid black;">
            <h3>Eleve inscrit</h3>
                <tr>
                    <th>Nom Prenom</th>
                    <th>Id</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th>Telephone</th>
                    <th>Mail</th>
                </tr>

        {% if inscription.eleve is not empty %}

                    <th>{{ inscription.eleve.nom }} {{ inscription.eleve.prenom }}</th>
                    <td>{{ inscription.eleve.id }} </td>
                    <td>{{ inscription.eleve.numrue }} {{inscription.eleve.rue }}</td>
                    <td>{{ inscription.eleve.copos }}</td>
                    <td>{{ inscription.eleve.ville }}</td>
                    <td>{{ inscription.eleve.tel }}</td>
                    <td>{{ inscription.eleve.mail }}</td>

        {% else %}
            <tr><td colspan="4">Aucun élève trouvé.</td></tr>
        {% endif %}

        
    </table>
</p>
{% endblock %}
