{% extends 'base.html.twig' %}
{% block title %}Liste des types d'instruments{% endblock %}
{% block body %}
	<h1>Liste des types d'instruments</h1>
			<a class="bouton-ajouter" href="{{ path('app_typeinstrument_ajouter') }}">Ajouter un Types insturment</a>
    {% if is_granted('ROLE_GEST') %}
	<a class="bouton-ajouter" href="#">Ajouter un nouveau type d'instrument</a>
	{% endif %}
	<table>
		<thead>
			<tr>
				<th>Libelle</th>
				<th>Classe de l'instrument</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for ti in pTypeInstrument %}
				<tr>
					<td>{{ ti.libelle }}</td>
          <td>
          {% if ti.classeinstrument is not null %}
          {{ ti.classeinstrument.libelle }}
          {% else %}
            Non défini
          {% endif %}
			    </td>
               <td>
                   <a class="bouton-consulter" href="{{ path('app_typeinstrument_lister', { id: ti.id }) }}">Consulter</a>
    					     {% if is_granted('ROLE_GEST') %}
                   <a class="bouton-modifier" href="{{ path('app_typeinstrument_lister', { id: ti.id }) }}">Modifier</a>
                   {% endif %}
                   {% if is_granted('ROLE_ADMIN') %}
                   <a class="bouton-supprimer" href="{{ path('app_typeinstrument_lister', { id: ti.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette intervention?')">Supprimer</a>
               {% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="3" style="text-align:center;">Aucun contrat de prêt n'a été trouvé.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}