{% extends 'base.html.twig' %}
{% block title %}Consultation de Cours{% endblock %}
{% block body %}
    <a class="bouton-arriere" href="{{ path('app_cours_lister') }}">Retourner en arrière</a>
    <h2>PAGE DE CONSULTATION D'UN COURS</h2>
    <p>
    <table class="table-consulter">
        <tr>
            <td>Libelle : </td>
            <td>{{ cours.libelle }}</td>
        </tr>
        <tr>
            <td>Age Minimum : </td>
            <td>{{ cours.ageMini }}</td>
        </tr>
        <tr>
            <td>Heure de Debut : </td>
            <td>{{ cours.heureDebut | date('H:i')}}</td>
        </tr>
        <tr>
            <td>Heure de Fin : </td>
            <td>{{ cours.heureFin | date('H:i')}}</td>
        </tr>
        <tr>
            <td>Jour : </td>
            <td>{{ cours.jour.libelle }}</td>
        </tr>
        
    </table>
</p>
{% endblock %}
