{% extends 'base.html.twig' %}
{% block title %}Consultation d'un Cours{% endblock %}
{% block body %}
    <a class="bouton-arriere" href="{{ path('app_cours_lister') }}">Retourner en arrière</a>
    <h1>Consultation d'un Cours</h1>
    <p>
    <table class="table-consulter">
        <tr>
            <td>Libelle : </td>
            <td>{{ cours.libelle }}</td>
        </tr>
        <tr>
            <td>Age Minimum : </td>
            <td>{{ cours.ageMini }}</td>
        </tr>
        <tr>
            <td>Heure de Debut : </td>
            <td>{{ cours.heureDebut | date('H:i')}}</td>
        </tr>
        <tr>
            <td>Heure de Fin : </td>
            <td>{{ cours.heureFin | date('H:i')}}</td>
        </tr>
        <tr>
            <td>Jour : </td>
            <td>{{ cours.jour.libelle }}</td>
        </tr>
    </table>

    <h1>Élèves inscrits au cours</h1>
        {% if cours.inscriptions is not empty %}
        {% for inscription in cours.inscriptions %}
            <table class="table-consulter">
                <th>{{inscription.eleve.nom}} {{inscription.eleve.prenom}}</th>
                <tr><td>ID : </td><td>{{inscription.eleve.id}} </td></tr>
                <tr><td>Rue : </td><td>{{inscription.eleve.numrue}} {{inscription.eleve.rue}}</td></tr>
                <tr><td>Code Postal : </td><td>{{inscription.eleve.copos}}</td></tr>
                <tr><td>Ville : </td><td>{{inscription.eleve.ville}}</td></tr>
                <tr><td>Téléphone : </td><td>{{inscription.eleve.tel}}</td></tr>
                <tr><td>E-Mail : </td><td>{{inscription.eleve.mail}}</td></tr>
            </table>
        {% endfor %}    
        {% else %}
            <tr><td colspan="2">Aucun élève trouvé.</td></tr>
        {% endif %}
        
    </table>
</p>
{% endblock %}
