{% extends 'base.html.twig' %}
{% block title %}Consultation d'un Cours{% endblock %}
{% block body %}
    <a class="bouton-arriere" href="{{ path('app_cours_lister') }}">Retourner en arrière</a>
    <h1>Consultation d'un Cours</h1>
    <p>


    <table class="table-consulter">
        <tr>
                <th>Cours</th>
                <th>ID</th>
                <th>Heure de Debut</th>
                <th>Heure de Fin</th>
                <th>Jour</th>
        </tr>
        <tr>
            <td>{{ cours.libelle }}</td>
            <td>{{ cours.ageMini }}</td>
            <td>{{ cours.heureDebut | date('H:i')}}</td>
            <td>{{ cours.heureFin | date('H:i')}}</td>
            <td>{{ cours.jour.libelle }}</td>
        </tr>
    </table>

<table class="table-consulter">
    <h1>Élèves inscrits au cours</h1>
                 <tr>
                    <th>Nom Prenom</th>
                    <th>ID</th>
                    <th>Adresse</th>
                    <th>Code Postal</th>
                    <th>Ville</th>
                    <th>Telephone</th>
                    <th>Mail</th>

                </tr>
        {% if cours.inscriptions is not empty %}
        {% for inscription in cours.inscriptions %}
                <th>{{inscription.eleve.nom}} {{inscription.eleve.prenom}}</th>
                <td>{{inscription.eleve.id}} </td>
                <td>{{inscription.eleve.numrue}} {{inscription.eleve.rue}}</td>
                <td>{{inscription.eleve.copos}}</td>
                <td>{{inscription.eleve.ville}}</td>
                <td>{{inscription.eleve.tel}}</td>
                <td>{{inscription.eleve.mail}}</td>
            </table>
        {% endfor %}    
        {% else %}
            <tr><td colspan="2">Aucun élève trouvé.</td></tr>
        {% endif %}
        
    </table>
</p>
{% endblock %}
