{% extends 'base.html.twig' %}
{% block title %}Liste des cours{% endblock %}
{% block body %}
    <h1>Liste des cours</h1>
    {% if is_granted('ROLE_GEST') %}
    <a class="bouton-ajouter" href="{{ path('app_cours_ajouter') }}">Ajouter un cours</a>
    {% endif %}
    <table>
        <thead>
            <tr>
                <th>Libellé</th>
                <th>Âge Minimum</th>
                <th>Heure de Début</th>
                <th>Heure de Fin</th>
                <th>Jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for c in pCours %}
                <tr>
                    <td>{{ c.libelle }}</td>
                    <td>{{ c.ageMini }}</td>
                    <td>{{ c.heureDebut | date('H:i') }}</td>
                    <td>{{ c.heureFin | date('H:i') }}</td>
                    <td>{{ c.jour.libelle }}</td>
                    <td>
                        <a class="bouton-consulter" href="{{ path('app_cours_consulter', { id: c.id }) }}">Consulter</a>
    					{% if is_granted('ROLE_GEST') %}
                        <a class="bouton-modifier" href="{{ path('app_cours_modifier', { id: c.id }) }}">Modifier</a>
                        {% endif %}
    					{% if is_granted('ROLE_ADMIN') %}
                        <a class="bouton-supprimer" href="{{ path('app_cours_supprimer', { id: c.id }) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce professionnel ?')">Supprimer</a>
                        {% endif %}     
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" style="text-align: center;">
                        Aucun cours n'a été trouvé.
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
